/* ELEMENT SELECTOR: style all paragraphs */
p {
  color: darkslateblue;
}
/* CLASS SELECTOR: style a specific list item*/
.highlight {
  background-color: lightyellow;
}
/* ID SELECTOR: style one specific header */
#main-heading {
  color: crimson;
  font-size: 2.5rem;
}
/* DESCENDANT SELECTOR: target a paragraph inside a div */
.special-box p{
    border:2px solid steelblue;
    padding:10px;
}
/* PSEUDO-CLASS SELECTOR: change link style on hover */
a:hover{
    color: orange;
    font-weight:bold;
}
