body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}
header {
  background-color: lightblue;
  padding: 30px;
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}
main {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px black;
}
form {
  padding-right: 20px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
input[type="submit"] {
  margin-top: 20px;
  width: 110px;
  padding: 14px;
  background-color: lightblue;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px black;
  transition: transform 0.2s, box-shadow 0.2s;
}
input[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px black;
}
.back-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: lightblue;
}
footer {
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.social-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  box-shadow: 0px 4px 10px black;
}
.social-img:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px black;
}
